tiagemusic-geraetesetup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:simpleType name="bool">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="portDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MIDI In"/>
      <xs:enumeration value="MIDI Out"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="connectorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DIN"/>
      <xs:enumeration value="TRS-A"/>
      <xs:enumeration value="TRS-B"/>
      <xs:enumeration value="USB"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="signalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clock"/>
      <xs:enumeration value="Notes"/>
      <xs:enumeration value="Clock+Notes"/>
      <xs:enumeration value="PC"/>
      <xs:enumeration value="MMC"/>
      <xs:enumeration value="PC+MMC"/>
      <xs:enumeration value="All merged"/>
      <xs:enumeration value="none"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="csvTargets">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*[^,]+(\s*,\s*[^,]+)*\s*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="tiagemusic-geraetesetup" type="SetupType"/>

  <xs:complexType name="SetupType">
    <xs:sequence>
      <xs:element name="devices" type="DevicesType"/>
      <xs:element name="connections" type="ConnectionsType" minOccurs="0"/>
      <xs:element name="presets" type="PresetsType" minOccurs="0"/>
      <xs:element name="scenes" type="ScenesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DevicesType">
    <xs:sequence>
      <xs:element name="device" type="DeviceType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeviceType">
    <xs:sequence>
      <xs:element name="name"         type="xs:string"/>
      <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
      <xs:element name="type"         type="xs:string"/>
      <xs:element name="ports"        type="PortsType" minOccurs="0"/>
      <xs:element name="notes"        type="NotesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:complexType name="PortsType">
    <xs:sequence>
      <xs:element name="port" type="PortType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PortType">
    <xs:attribute name="id"        type="xs:string"       use="required"/>
    <xs:attribute name="type"      type="portDirection"   use="required"/>
    <xs:attribute name="connector" type="connectorType"   use="optional" default="DIN"/>
    <xs:attribute name="active"    type="bool"            use="optional" default="true"/>
  </xs:complexType>

  <xs:complexType name="NotesType">
    <xs:sequence>
      <xs:element name="section" type="SectionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SectionType" mixed="true">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ConnectionsType">
    <xs:sequence>
      <xs:element name="connection" type="ConnectionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConnectionType">
    <xs:attribute name="id"        type="xs:ID"        use="required"/>
    <xs:attribute name="fromDevice" type="xs:string"   use="required"/>
    <xs:attribute name="fromPort"   type="xs:string"   use="required"/>
    <xs:attribute name="toDevice"   type="xs:string"   use="required"/>
    <xs:attribute name="toPort"     type="xs:string"   use="required"/>
    <xs:attribute name="signal"     type="signalType"  use="optional" default="Clock+Notes"/>
  </xs:complexType>

  <xs:complexType name="PresetsType">
    <xs:sequence>
      <xs:element name="preset" type="PresetType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PresetType">
    <xs:sequence>
      <xs:element name="name"        type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="routing"     type="RoutingType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:complexType name="RoutingType">
    <xs:sequence>
      <xs:element name="map" type="MapType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MapType">
    <xs:attribute name="from"   type="xs:string"  use="required"/>
    <xs:attribute name="to"     type="csvTargets" use="required"/>
    <xs:attribute name="filter" type="xs:string"  use="optional"/>
    <xs:attribute name="target" type="xs:string"  use="optional"/>
  </xs:complexType>

  <xs:complexType name="ScenesType">
    <xs:sequence>
      <xs:element name="scene" type="SceneType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SceneType">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id"   type="xs:ID"     use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:key name="deviceKey">
    <xs:selector xpath="devices/device"/>
    <xs:field xpath="@id"/>
  </xs:key>

  <xs:key name="portKey">
    <xs:selector xpath="devices/device/ports/port"/>
    <xs:field xpath="../../@id"/>
    <xs:field xpath="@id"/>
  </xs:key>

  <xs:keyref name="fromDeviceRef" refer="deviceKey">
    <xs:selector xpath="connections/connection"/>
    <xs:field xpath="@fromDevice"/>
  </xs:keyref>

  <xs:keyref name="toDeviceRef" refer="deviceKey">
    <xs:selector xpath="connections/connection"/>
    <xs:field xpath="@toDevice"/>
  </xs:keyref>

  <xs:keyref name="fromPortRef" refer="portKey">
    <xs:selector xpath="connections/connection"/>
    <xs:field xpath="@fromDevice"/>
    <xs:field xpath="@fromPort"/>
  </xs:keyref>

  <xs:keyref name="toPortRef" refer="portKey">
    <xs:selector xpath="connections/connection"/>
    <xs:field xpath="@toDevice"/>
    <xs:field xpath="@toPort"/>
  </xs:keyref>

</xs:schema>
